/*
Primary:
Purple: #6E5AB6
Orange: #FFC65C
Grey: #5C5C5D
Light Grey: hsla(230, 1%, 36%, 0.2)
White: #FFFFFF

Chefs_Table:
Maroon: hsla(341, 94%, 14%, 0.9)
Green: hsla(161, 94%, 14%, 0.2)
Grey: hsla(240, 1%, 36%, 0.2)
Cream: #F6EEDF

YKC:
Purple: hsla (253, 39%, 53%, 0.8)
Grey: #E2E0E5

Save:
Blue: #242F66
Light blue: hsla (230, 48%, 27%, 0.1)

My Web Portfolio
Grey: hsla (241, 1% 36%, 0.7)
*/
/* All pages */
* {
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #5C5C5D;
}

h1 {
  font-size: 1.75em;
  /*28pt*/
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: -15px;
}

h2 {
  font-size: 1.5em;
  /*24pt*/
  font-weight: 400;
  line-height: 1.5;
}

h3 {
  font-size: 1.125em;
  /*18pt*/
  font-weight: 500;
  line-height: 1.5;
}

h4 {
  font-size: 0.875em;
  /*14pt*/
  font-weight: 300;
  line-height: 1.5;
}

.header {
  background-color: #FFFFFF
}

.header h1 {
  padding-left: 90px;
  padding-top: 15px;
  color: #6E5AB6;
}

.hero span {
  font-family: 'Rock Salt', cursive;
  font-size: 28px;
  color: #6E5AB6;
  letter-spacing: 0;
  padding: 10px 0;
  display: inline-block;
}

.hero h1 {
  font-size: 2.625em;
  color: #6E5AB6;
}

.hero p {
  font-size: 18px;
  letter-spacing: 4px;
  max-width: 100%;
}

.info-popup span {
  font-size: 0.75em;
  font-weight: 300;
}

.info-popup a {
  font-size: 0.875em;
  color: #FFFFFF;
  flex: 1;
  align-self: center;
  text-decoration: none;
}

img {
  width: 100%;
}

.work img {
  padding-bottom: 10px;
}

video {
  width: 100%;
}

.rwd .flex .column:first-child img {
  border: 3px solid #FFFFFF;
}

.rwd .flex .column:last-child img {
  border: 3px solid #FFFFFF;
}

.color {
  width: 70%;
}

.logo {
  max-width: 40px;
  max-height: 40px;
  position: absolute;
  top: 10px;
  left: 20px;
}

nav a {
  color: #6E5AB6;
  text-decoration: none;
}

nav a:visited {
  color: #6E5AB6;
}

nav a:hover {
  color: #FFC65C;
  text-decoration: none;
  font-weight: 600;
}

nav a:active {
  color: #FFC65C;
  text-decoration: none;
  font-weight: 600;
}

.button {
  background-color: #FFC65C;
  color: #6E5AB6;
  display: block;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  padding: 5px;
  border-radius: 10px;
  border-color: transparent;
  /*rounded corners*/
  text-decoration: none;
  margin-top: 30px;
  margin-bottom: 30px;
  transition: 0.2s opacity;
}

.button:visited {
  color: #6E5AB6;
}

.button:hover,
.button:focus {
  color: #6E5AB6;
  background-color: #FFC65C;
  font-weight: 600;
  border: 1px solid #6E5AB6;
}

.button:active {
  background-color: #FFFFFF;
}

/* Layout styling */
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px;
}

.row {
  margin: 20px 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.image-box {
  display: inline-block;
  position: relative;
}

.info-popup {
  text-align: center;
  background-color: hsla(230, 1%, 36%, 0.9);
  color: #FFFFFF;
  padding: 15px;
  transition: opacity 0.5s ease;
  opacity: 0;
  position: absolute;
  bottom: 15px;
  left: 0px;
  top: 0px;
  right: 0px;
  display: flex;
}

.image-box:hover .info-popup {
  opacity: 1;
}

.second {
  margin-top: -5px;
}

/* Header */
header {
  position: fixed;
  width: 100%;
  background-color: #FFFFFF;
  z-index: 100;
}

main {
  padding-top: 150px;
  /* adjust height when header height reduced */
}

header .row {
  margin-top: 15px;
  position: relative;
  /* how to fix header*/
}

header .column {
  padding-left: 15px;
  padding-right: 15px;
}

nav ul {
  padding: 0;
  margin: 40px 0 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
text-align: right;
}

.navtoggle li .icon {
  font-size: 20px;
  position: absolute;
  top: 18px;
  right: 15px;
}

header .column.nav {
  min-height: 64px;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
}

nav {
  padding-top: 10px;
}

.title {
  border-bottom: 1px solid;
  border-color: #5C5C5D;
}

/* Footer */
footer {
  background-color: #6E5AB6;
  color: #FFFFFF;
  text-align: center;
}

.social a {
  text-decoration: none;
  padding: 0 20px;
}

footer h2 {
  padding-bottom: 10px;
}

footer p {
  font-size: 60%;
}

/* About */
.about p {
  letter-spacing: 2px;
  line-height: inherit;
  max-width: 100%;
  margin-top: 0;
  margin-left: 10px;
}

.about a {
  font-size: 16px;
  color: #6E5AB6;
  letter-spacing: 1px;
}

.about a:visited {
  color: #6E5AB6;
}

.about a:hover {
  color: #FFC65C;
  font-weight: 600;
}

.about a:active {
  color: #FFC65C;
  font-weight: 600;
}

.about .button:hover {
  color: #6E5AB6;
}

/* Chefs Table */
.concept span {
  font-weight: bold;
}

.here {
  color: #6E5AB6;
}

.ct_discover {
  margin-top: -50px;
}

.ct_define span {
  font-weight: bold;
}

.ct_develop {
  background-color: hsla(240, 1%, 36%, 0.2);
  display: block;
  margin-left: 15px;
  margin-right: 15px;
}

.login-home {
  display: block;
}

.login-home .column {
  padding: 10px 10px;
  text-align: center;
}

.login {
  max-width: 70%;
}

.home {
  max-width: 70%;
}

.login-home .copy {
  text-align: center;
  font-size: 80%;
}

.search .column {
  padding: 10px 10px;
  text-align: center;
}

.grid {
  max-width: 70%;
}

.map {
  max-width: 70%;
}

.filter {
  max-width: 70%;
}

.search .copy {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-size: 80%;
}

.restaurant {
  background-color: #FFFFFF;
  display: block;
}

.restaurant .column {
  padding: 10px 10px;
  text-align: center;
}

.restaurant_profile {
  max-width: 70%;
}

.chefs_list {
  max-width: 70%;
}

.chefs_profile {
  max-width: 70%;
  padding-bottom: 10px;
}

.restaurant .copy {
  text-align: center;
  padding: 0 10px;
  font-size: 80%;
}

.book .column {
  padding: 10px 20px;
  text-align: center;
}

.book .copy {
  text-align: center;
  padding: 0 10px;
  font-size: 80%;
}

.booking {
  max-width: 70%;
}

.booking_selection {
  max-width: 70%;
}

.booking_confirmation {
  max-width: 70%;
}

.my_bookings {
  max-width: 70%;
  padding-bottom: 10px;
}

.rwd {
  background-color: hsla(341, 94%, 14%, 0.9);
  color: #FFFFFF;
  padding: 10px 20px;
}

.rwd .h3 {
  padding-top: 10px;
}

.rwd .column {
  text-align: center;
  padding: 0 10px;
}

.rwd .tablet {
  max-width: 80%;
  align-content: center;
}

.rwd .mobile {
  max-width: 30%;
}

.style {
  background-color: #F6EEDF;
  padding: 10px 20px;
  margin: 15px;
}

.style .column {
  padding: 0 20px;
}

.style .logos {
  display: flex;
  text-align: center;
}

/* YKC */
.discover span {
  font-weight: bold;
}

.ykchome {
  text-align: center;
}

.ykchome picture {
  display: inline-block;
}

.ykchome img {
  width: 70%;
}

.define {
  background-color: #E2E0E5;
  padding: 10px;
}

.define picture {
  display: inline-block;
  text-align: center;
}

.define img {
  width: 90%;
}

.mockups {
  display: inline-block;
  text-align: center;
}

.develop .column {
  padding: 10px;
}

.develop span {
  font-weight: bold;
}

.develop picture {
  display: inline-block;
  text-align: center;
}

.develop img {
  max-width: 90%;
}

.line {
  border-bottom: 1px solid;
  border-color: #E2E0E5;
}

.deliver {
  display: block;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
}

.deliver .column {
  text-align: center;
  padding: 20px 20px;
}

.deliver img {
  width: 70%;
}

.ios {
  max-width: 70%;
}

.deliver h3 {
  font-weight: bold;
}

.cvbutton .button {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.primary .button {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.ykcstyle h3 {
  font-weight: bold;
}

/* $ave */
.s_discover span {
  font-weight: bold;
}

.s_discover picture {
  display: inline-block;
  text-align: center;
}

.s_discover img {
  width: 90%;
}

.s_define {
  margin-top: 10px;
  background-color: #242F66;
  color: #FFFFFF;
  padding-left: 20px;
  padding-right: 20px;
}

.s_define span {
  font-weight: bold;
}

.s_develop span {
  font-weight: bold;
}

.userflow {
  padding: 10px;
}

.test {
  margin-top: 20px;
  background-color: hsla(230, 48%, 27%, 0.1);
  padding: 10px 20px;
}

.test .column {
  display: inline-block;
  text-align: center;
  padding: 20px;
}

.test img {
  max-width: 70%;
}

.s_mobile .column {
  text-align: center;
}

.wireframes .column {
  padding: 10px 5px;
}

.wireframes {
  margin: 0 10px;
}

.brand .column {
  padding: 0 5px;
}

/* My Web Portfolio */
.myweb span {
  font-weight: bold;
}

.myweb {
  margin-bottom: 50px;
}

.overview h2 {
  margin-top: 30px;
  margin-bottom: 0;
}

.context {
  background-color: hsla(240, 1%, 36%, 0.7);
  color: #FFFFFF;
  padding: 15px;
  margin-bottom: 50px;
}

.context h2 {
  text-align: center;
}

/*Less But More*/
.less_but_better {
  display: block;
}

.less_but_better .column {
  padding: 20px 10px;
  text-align: center;
}

.lbb_user_flow {
  width: 80%;
}

/* My 80s Mix */
.challenge span {
  font-weight: bold;
}

/* Medium device - 640px plus */
@media only screen and (min-width: 640px) {
  nav ul {
    justify-content: flex-start;
    flex-direction: row;
    margin: 10px;
  }

  nav ul li {
    margin-left: 6em;
  }

  .navtoggle {
    position: absolute;
    right: 40px;
    text-align: left;
  }

  .navtoggle li .icon {
    right: auto;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  header .column.nav {
    min-height: 64px;
  }

  .primary {
    text-align: center;
  }

  .cvbutton {
    text-align: center;
  }

  main {
    padding-top: 129px;
  }

  .hero span {
    font-size: 32px;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.3%;
  }

  .col-md-5 {
    width: 41.66%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33%;
  }

  .col-md-8 {
    width: 66.6%;
  }

  .col-md-9 {
    width: 75%
  }

  /* Chefs Table */
  .restaurant .extrapadding {
    padding-top: 10em;
  }

  .restaurant .copy {
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
  }

  .rwd .flex {
    display: flex;
  }

  .rwd .flex .column:first-child {
    text-align: right;
  }

  .rwd .flex .column:first-child img {
    margin: 8px 0;
  }

  .rwd .flex .column:last-child {
    display: flex;
    align-items: center;
  }

  .login {
    max-width: 50%;
  }

  .home {
    max-width: 50%;
  }

  /* YKC */
  .define img {
    width: 80%;
  }

  .develop img {
    max-width: 70%;
  }

  .deliver p {
    font-size: 0.875em;
  }

  /* $ave */
  /* portfolio */
  .myweb .col-md-6 {
    padding-left: 0;
    padding-right: 20px;
  }

  .video {
    max-width: 100%;
    ;
  }

  /* About */
  .about p {
    letter-spacing: 2px;
  }

  [class*="col-"] {
    float: left;
    margin-top: -16px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .button {
    max-width: 100%
  }

  .primary .button {
    width: 60%;
  }
}

/* Large device - 1024px plus */
@media only screen and (min-width: 1024px) {
  .col-md-7 {
    width: 58.33%;
  }

  .col-md-5 {
    width: 41.66%;
  }

  .info-popup p {
    font-size: 1.125em;
  }

  .info-popup a {
    font-size: 1.125em;
  }

  .primary .button {
    width: 40%;
  }

  /*About*/
  .about p {
    letter-spacing: 3px;
  }

  /*Chefs Table*/
  .rwdmockup picture {
    max-width: 80%;
    display: inline-block;
    margin-left: auto;
    margin-right: -180px;
    margin-top: -215px;
  }

  .rwdmockup {
    text-align: center;
  }

  /*YKC*/
  .define img {
    max-width: 70%;
  }

  .develop img {
    max-width: 60%;
  }

  .ios {
    max-width: 50%;
  }

  /*$ave*/
  .s_discover img {
    width: 60%;
  }

  .userflow {
    text-align: center;
  }

  .userflow img {
    max-width: 70%;
  }

  .test img {
    max-width: 50%;
  }

  .wireframes {
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
  }

  .s_rwd img {
    max-width: 70%;
  }

  .s_rwd {
    text-align: center;
  }

  .brand {
    margin-bottom: 20px;
  }
}

/* X-Large device - 1440px plus */
@media only screen and (min-width: 1400px) {
  .info-popup p {
    font-size: 1.125em;
  }

  .info-popup a {
    font-size: 1.375em;
  }

  /*About*/
  .about p {
    font-size: 18px;
    letter-spacing: 3px;
  }

  /*YKC*/
  .develop img {
    max-width: 50%;
  }

  .deliver img {
    max-width: 50%;
  }

  /*$ave*/
  .userflow img {
    max-width: 60%;
  }

  .wireframes {
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
  }

  .s_rwd img {
    max-width: 60%;
  }
}
