/*
Primary:
Purple: #6900FA
Orange: #FA6900
Grey: #5C5C5D
White: #FFFFFF

Chefs_Table:
Maroon hsla(341, 94%, 14%, 0.9)
Green: hsla(161, 94%, 14%, 0.2)
Grey: hsla(240, 1%, 36%, 0.2)
Cream: #F6EEDF

YKC:
Purple: hsla (253, 39%, 53%, 0.8)
Grey: #E2E0E5
*/
/* All pages */
* {
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #5C5C5D
}

#background {
  background-color: #6900FA;
  padding: 10px;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 2em;
  /*28pt*/
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
}

h2 {
  font-size: 1.43em;
  /*20pt*/
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
  color: #6900FA;
}

h3 {
  font-size: 1.14em;
  /*16pt*/
  font-weight: 500;
  line-height: 1.5;
}

.hero span {
  font-family: 'Rock Salt', cursive;
  font-size: 28px;
  color: #FA6900;
  letter-spacing: 0;
  padding: 10px 0;
  display: inline-block;
}

.hero p {
  font-size: 28px;
  letter-spacing: 4px;
  max-width: 100%;
}

img {
  width: 100%;
}

.rwd .flex .column:first-child img {
  border: 3px solid #FFFFFF;
}

.rwd .flex .column:last-child img {
  border: 3px solid #FFFFFF;
}

.color {
  width: 70%;
}

a {
  color: #FA6900;
}

a:visited {
  color: #FA6900;
}

a:hover,
a:focus {
  color: #6900FA;
}

a:active {
  color: #6900FA;
}

.name {
  background-color: #6900FA;
  padding-top: 15px;
  padding-bottom: 15px;
}

.name a {
  text-decoration: none;
}

.name a:hover {
  color: #FA6900;
  font-weight: 600;
}

.name a:active {
  color: #FA6900;
}

.logo {
  max-width: 120px;
  max-height: 120px;
  border-radius: 10em;
  border: 3px solid #FFFFFF;
  position: absolute;
  right: 15px;
  top: 20px;
}

nav a {
  color: #5C5C5D;
  text-decoration: none;
  font-size: 70%;
}

nav a:visited {
  color: #5C5C5D;
}

nav a:hover {
  color: #6900FA;
  text-decoration: none;
}

nav a:active {
  color: #6900FA;
  text-decoration: none;
}

.active {
  color: #6900FA;
  font-weight: 600;
}

/* Layout styling */
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.row {
  margin: 20px 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Header */
header {
  position: fixed;
  width: 100%;
  background-color: #FFFFFF;
}

main {
  padding-top: 150px;
  /* adjust height when header height reduced */
}

header .row {
  margin-top: 0px;
  box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.15);
  position: relative;
  /* how to fix header?*/
}

header .column {
  padding-left: 15px;
  padding-right: 15px;
}

nav ul {
  padding: 0;
  margin: 40px 0 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navtoggle li:not(:last-child){
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  font-size: 20px;
  position: absolute;
  top: 10px;
}

header .column.nav {
  min-height: 50px;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
}

nav {
  padding-top: 10px;
}

.link {
  text-align: right;
}

/* Footer */
footer {
  background-color: #6900FA;
  color: #FFFFFF;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
}

footer h2 {
  color: #FFFFFF;
  padding: 10px;
}

.social a {
  text-decoration: none;
  padding: 0 10px;
}

footer p {
  font-size: 60%;
  padding-top: 20px;
}

/* About */
.button {
  background-color: #FA6900;
  color: #FFFFFF;
  display: block;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 10px;
  /*rounded corners*/
  text-decoration: none;
  margin-top: 30px;
  margin-bottom: 30px;
  transition: 0.2s opacity;
}

.button:visited {
  color: #FFFFFF;
}

.button:hover,
.button:focus {
  color: #6900FA;
  opacity: 0.8;
}

.button:active {
  color: #6900FA;
}

/* Chefs Table */
.concept {
  background-color: hsla(341, 94%, 14%, 0.9);
  color: #FFFFFF;
  padding: 10px 20px 200px;
}

.here {
  color: #FFFFFF;
}

.home1 {
  margin-top: -250px;
}

.process {
  background-color: hsla(161, 94%, 14%, 0.2);
  padding: 10px 20px;
}

.login-home {
  display: block;
}

.login-home .column {
  padding: 10px 10px;
  text-align: center;
}

.login {
  max-width: 70%;
}

.home {
  max-width: 70%;
}

.login-home .copy {
  text-align: center;
  font-size: 80%;
}

.search {
  background-color: hsla(240, 1%, 36%, 0.2);
  display: block;
}

.search .column {
  padding: 10px 10px;
  text-align: center;
}

.grid {
  max-width: 70%;
}

.map {
  max-width: 70%;
}

.filter {
  max-width: 70%;
}

.search .copy {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-size: 80%;
}

.restaurant {
  background-color: #FFFFFF;
  display: block;
}

.restaurant .column {
  padding: 10px 10px;
  text-align: center;
}

.restaurant_profile {
  max-width: 70%;
}

.chefs_list {
  max-width: 70%;
}

.chefs_profile {
  max-width: 70%;
  padding-bottom: 10px;
}

.restaurant .copy {
  text-align: center;
  padding: 0 10px;
  font-size: 80%;
}

.book {
  background-color: hsla(240, 1%, 36%, 0.2);
  display: block;
}

.book .column {
  padding: 10px 20px;
  text-align: center;
}

.book .copy {
  text-align: center;
  padding: 0 10px;
  font-size: 80%;
}

.booking {
  max-width: 70%;
}

.booking_selection {
  max-width: 70%;
}

.booking_confirmation {
  max-width: 70%;
}

.my_bookings {
  max-width: 70%;
  padding-bottom: 10px;
}

.rwd {
  background-color: hsla(341, 94%, 14%, 0.9);
  color: #FFFFFF;
  padding: 10px 20px;
}

.rwd .h3 {
  padding-top: 10px;
}

.rwd .column {
  text-align: center;
  padding: 0 10px;
}

.rwd .tablet {
  max-width: 80%;
  align-content: center;
}

.rwd .mobile {
  max-width: 30%;
}

.style {
  background-color: #F6EEDF;
  padding: 10px 20px;
  margin: 15px;
}

.style .column {
  padding: 0 20px;
}

.style .logos {
  display: flex;
  text-align: center;
}

/* YKC */
.discover {
  background-color: hsla(253, 39%, 53%, 0.8);
  color: #FFFFFF;
  padding: 10px 20px 210px;
}

.discover span {
  font-weight: bold;
}

.ykchome picture {
  max-width: 300px;
  display: inline-block;
  margin-top: -13em;
  margin-left: auto;
}

.ykchome {
  text-align: center;
}

.mockups {
  padding-top: 20px;
  padding-bottom: 20px;
}

.develop .column {
  padding-top: 5px;
  padding-bottom: 10px;
}

.deliver {
  background-color: #E2E0E5;
  display: block;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 10px;
}

.deliver .column {
  text-align: center;
}

.deliver .column p {
  font-size: 80%;
}

.iosandroid {
  display: block;
}

.iosandroid .column {
  text-align: center;
}

.ios {
  max-width: 70%;
}

.android {
  max-width: 90%;
}

.ykcstyle {
  background-color: #FFFFFF;
}

.ykcstyle .row {
  padding-top: 20px;
}

.ykcstyle h4 {
  text-align: left;
}

.ykcstyle .column p {
  text-align: left;
  font-size: 80%;
}

.ykcstyle span {
  font-weight: bold;
}

.ykclogo {
  max-width: 40%;
}

.ykctype {
  text-align: left;
  padding-right: 40px;
  padding-bottom: 20px;
}

/* Medium device - 640px plus */
/* needs attention! all sitting behind logo */
@media only screen and (min-width: 640px) {
  nav {
    margin-top: 10px;
  }

  nav a {
    font-size: 90%;
  }

  nav ul {
    justify-content: flex-start;
    flex-direction: row;
    margin: 0;
  }

  nav ul li {
    margin-right: 8em;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  main {
    padding-top: 129px;
  }

  .hero span {
    font-size: 32px;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.3%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-8 {
    width: 66.6%;
  }

  .col-md-9 {
    width: 75%
  }

/* Chefs Table */
  .home1 picture {
    max-width: 400px;
    display: inline-block;
    margin-top: -12em;
    margin-left: auto;
    margin-right: -15em;
  }

  .home1 {
    text-align: center;
  }

  .restaurant .extrapadding {
    padding-top: 10em;
  }

  .restaurant .copy {
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
  }

  .rwd .flex {
    display: flex;
  }

  .rwd .flex .column:first-child {
    text-align: right;
  }

.rwd .flex .column:first-child img {
  margin: 8px 0;
}

.rwd .flex .column:last-child {
  display: flex;
  align-items: center;
}

/* YKC */
.ykchome picture {
  max-width: 400px;
  display: inline-block;
  margin-top: -20em;
  margin-left: auto;
  margin-right: -15em;
}

.mockups {
  margin-left: 40px;
  margin-right: 40px;
}

.ykcstyle img {
  max-width: 80%;
  float: left;
}

.ykclogo {
  padding-top: 40px;
}

/* About */
  [class*="col-"] {
    float: left;
    padding: 0 10px;
  }

  .button {
    max-width: 300px;
  }
}

/* Large device - 1024px plus */
@media only screen and (min-width: 1024px) {
  .col-md-7 {
    width: 58.33%;
  }

  .col-md-5 {
    width: 41.66%;
  }

  .home1 picture {
    max-width: 500px;
    margin-top: -15em;
    margin-left: auto;
    margin-right: -20em;
  }

  .book .break p {
    padding-left: 20px;
    padding-right: 20px;
  }

}

/* X-Large device - 1440px plus */
@media only screen and (min-width: 1400px) {}

/* sun keyframe */
@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

/* cloud keyframe */
@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446,48px);}
  to {transform: translate(100px,48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
