/*
Primary:
Purple: #6900FA
Orange: #FA6900
Grey: #5C5C5D
Light Grey: hsla(230, 1%, 36%, 0.2)
White: #FFFFFF

Chefs_Table:
Maroon: hsla(341, 94%, 14%, 0.9)
Green: hsla(161, 94%, 14%, 0.2)
Grey: hsla(240, 1%, 36%, 0.2)
Cream: #F6EEDF

YKC:
Purple: hsla (253, 39%, 53%, 0.8)
Grey: #E2E0E5

Save:
Blue: #242F66
Light blue: hsla (230, 48%, 27%, 0.1)
*/
/* All pages */
* {
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #5C5C5D;
}

h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 1.75em;
  /*28pt*/
<<<<<<< Updated upstream
  font-weight: 500;
=======
  font-weight: 400;
>>>>>>> Stashed changes
  line-height: 1.5;
  text-transform: uppercase;
}

h2 {
  font-size: 1.125em;
  /*18pt*/
  font-weight: 600;
  line-height: 1.5;
}

h3 {
  font-size: 0.875em;
  /*14pt*/
  font-weight: 600;
  line-height: 1.5;
}

.hero span {
  font-family: 'Rock Salt', cursive;
  font-size: 28px;
  color: #FA6900;
  letter-spacing: 0;
  padding: 10px 0;
  display: inline-block;
}

.hero p {
  font-size: 28px;
  letter-spacing: 4px;
  max-width: 100%;
}

.hero .link {
  font-size: 16px;
<<<<<<< Updated upstream
  color: #FA6900;
=======
  color: #6900FA;
  letter-spacing: 1px;
>>>>>>> Stashed changes
}

.info-popup p {
  font-size: 0.75em;
  font-weight: 300;
}

.info-popup a {
  font-size: 0.875em;
<<<<<<< Updated upstream
  color: #FA6900;
=======
  color: #FFFFFF;
  flex: 1;
  align-self: center;
  text-decoration: none;
>>>>>>> Stashed changes
}

img {
  width: 100%;
}

.work img {
  padding-bottom: 10px;
}

.rwd .flex .column:first-child img {
  border: 3px solid #FFFFFF;
}

.rwd .flex .column:last-child img {
  border: 3px solid #FFFFFF;
}

.iteration .column img {
  border: 3px solid #FFFFFF;
}

.color {
  width: 70%;
}

.logo {
  max-width: 120px;
  max-height: 120px;
  border-radius: 10em;
  border: 3px solid #FFFFFF;
  position: absolute;
  right: 15px;
  top: 20px;
}

nav a {
  color: #6900FA;
  text-decoration: none;
  font-size: 70%;
}

nav a:visited {
  color: #6900FA;
}

nav a:hover {
  color: #FA6900;
  text-decoration: none;
  font-weight: 600;
}

nav a:active {
  color: #FA6900;
  text-decoration: none;
  font-weight: 600;
}

/* Layout styling */
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 15px;
}

.row {
  margin: 20px 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.image-box {
  display: inline-block;
  position: relative;
}

.info-popup {
  text-align: center;
  background-color: hsla(230, 1%, 36%, 0.9);
  color: #FFFFFF;
  padding: 15px;
  transition: opacity 0.5s ease;
  opacity: 0;
  position: absolute;
  bottom: 15px;
  left: 0px;
  top: 0px;
  right: 0px;
  display: flex;
}

.image-box:hover .info-popup {
  opacity: 1;
}

/* Header */
header {
  position: fixed;
  width: 100%;
  background-color: #FFFFFF;
  z-index: 100;
}

main {
  padding-top: 150px;
  /* adjust height when header height reduced */
}

header .row {
  margin-top: 0px;
  box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.15);
  position: relative;
  /* how to fix header?*/
}

header .column {
  padding-left: 15px;
  padding-right: 15px;
}

nav ul {
  padding: 0;
  margin: 40px 0 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  font-size: 20px;
  position: absolute;
  top: 10px;
}

header .column.nav {
  min-height: 50px;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
}

nav {
  padding-top: 10px;
}

/* Footer */
footer {
  background-color: #6900FA;
  color: #FFFFFF;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
}

footer h2 {
  color: #FFFFFF;
  padding: 10px;
}

.social a {
  text-decoration: none;
  padding: 0 10px;
}

footer p {
  font-size: 60%;
  padding-top: 20px;
}

/* About */
.about span {
  font-family: 'Rock Salt', cursive;
  font-size: 28px;
  color: #FA6900;
  letter-spacing: 0;
  padding: 10px 0;
  display: inline-block;
}

.about p {
  font-size: 28px;
  letter-spacing: 4px;
  max-width: 100%;
  margin-left: 10px;
}

.button {
<<<<<<< Updated upstream
  background-color: #FA6900;
  color: #FFFFFF;
=======
  background-color: #FFFFFF;
  color: #6900FA;
>>>>>>> Stashed changes
  display: block;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #6900FA;
  /*rounded corners*/
  text-decoration: none;
  margin-top: 30px;
  margin-bottom: 30px;
  transition: 0.2s opacity;
}

.button:visited {
  color: #6900FA;
}

.button:hover,
.button:focus {
  color: #FFC65C;
}

.button:active {
  color: #6900FA;
}

/* Chefs Table */
.concept {
  background-color: hsla(341, 94%, 14%, 0.9);
  color: #FFFFFF;
<<<<<<< Updated upstream
  padding: 10px 20px 200px;
=======
  padding: 20px 20px 200px 20px;
}

.home1 picture {
  max-width: 300px;
  display: inline-block;
  margin-top: -13em;
  margin-left: auto;
}

.home1 {
  text-align: center;
>>>>>>> Stashed changes
}

.here {
  color: #6900FA;
}

<<<<<<< Updated upstream
.home1 {
  margin-top: -240px;
=======
.ct_discover {
  margin-top: -50px;
>>>>>>> Stashed changes
}

.ct_define span {
  font-weight: bold;
}

.ct_develop {
  background-color: hsla(240, 1%, 36%, 0.2);
  display: block;
  margin-left: 15px;
  margin-right: 15px;
}

.ct_deliver {
  margin-left: 15px;
  margin-right: 15px;
}

.iteration .column {
  padding: 10px 10px;
  text-align: center;
}

.iteration .column img {
  width: 70%;
}

.login-home {
  display: block;
}

.login-home .column {
  padding: 10px 10px;
  text-align: center;
}

.login {
  max-width: 70%;
}

.home {
  max-width: 70%;
}

.login-home .copy {
  text-align: center;
  font-size: 80%;
}

.search .column {
  padding: 10px 10px;
  text-align: center;
}

.grid {
  max-width: 70%;
}

.map {
  max-width: 70%;
}

.filter {
  max-width: 70%;
}

.search .copy {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-size: 80%;
}

.restaurant {
  background-color: #FFFFFF;
  display: block;
}

.restaurant .column {
  padding: 10px 10px;
  text-align: center;
}

.restaurant_profile {
  max-width: 70%;
}

.chefs_list {
  max-width: 70%;
}

.chefs_profile {
  max-width: 70%;
  padding-bottom: 10px;
}

.restaurant .copy {
  text-align: center;
  padding: 0 10px;
  font-size: 80%;
}

.book .column {
  padding: 10px 20px;
  text-align: center;
}

.book .copy {
  text-align: center;
  padding: 0 10px;
  font-size: 80%;
}

.booking {
  max-width: 70%;
}

.booking_selection {
  max-width: 70%;
}

.booking_confirmation {
  max-width: 70%;
}

.my_bookings {
  max-width: 70%;
  padding-bottom: 10px;
}

.rwd {
  background-color: hsla(341, 94%, 14%, 0.9);
  color: #FFFFFF;
  padding: 10px 20px;
}

.rwd .h3 {
  padding-top: 10px;
}

.rwd .column {
  text-align: center;
  padding: 0 10px;
}

.rwd .tablet {
  max-width: 80%;
  align-content: center;
}

.rwd .mobile {
  max-width: 30%;
}

.style {
  background-color: #F6EEDF;
  padding: 10px 20px;
  margin: 15px;
}

.style .column {
  padding: 0 20px;
}

.style .logos {
  display: flex;
  text-align: center;
}

/* YKC */
.discover {
  background-color: hsla(253, 39%, 53%, 0.8);
  color: #FFFFFF;
  padding: 10px 20px 210px;
}

.discover span {
  font-weight: bold;
}

.ykchome picture {
  max-width: 300px;
  display: inline-block;
  margin-top: -13em;
  margin-left: auto;
}

.ykchome {
  text-align: center;
}

.mockups {
  padding-top: 90px;
  padding-bottom: 20px;
}

.develop .column {
  padding-top: 5px;
  padding-bottom: 10px;
}

.deliver {
  background-color: #E2E0E5;
  display: block;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 10px;
}

.deliver .column {
  text-align: center;
}

.deliver .column p {
  font-size: 80%;
}

.iosandroid {
  display: block;
}

.iosandroid .column {
  text-align: center;
}

.ykcstyle {
  background-color: #FFFFFF;
}

.ykcstyle .row {
  padding-top: 20px;
}

.ykcstyle h4 {
  text-align: left;
}

.ykcstyle .column p {
  text-align: left;
  font-size: 80%;
}

.ykcstyle span {
  font-weight: bold;
}

.ykclogo {
  max-width: 40%;
}

.ykctype {
  text-align: left;
  padding-right: 40px;
  padding-bottom: 20px;
}

/* $ave */
.s_discover {
  background-color: #242F66;
  color: #FFFFFF;
  padding: 10px 20px 200px;
}

.savings {
  margin-top: -220px;
}

.s_define {
  margin-top: -50px;
}

.s_define span {
  font-weight: bold;
}

.s_develop {
  background-color: hsla(230, 48%, 27%, 0.1);
  display: block;
  margin-left: 15px;
  margin-right: 15px;
}

.s_develop img {
  padding: 0 10px 20px 10px;
}

.s_mobile .column {
  text-align: center;
}

/* Medium device - 640px plus */
/* needs attention! all sitting behind logo */
@media only screen and (min-width: 640px) {

  nav {
    margin-top: 10px;
  }

  nav a {
    font-size: 90%;
  }

  nav ul {
    justify-content: flex-start;
    flex-direction: row;
    margin: 0;
  }

  nav ul li {
    margin-right: 6em;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  main {
    padding-top: 129px;
  }

  .hero span {
    font-size: 32px;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.3%;
  }

  .col-md-5 {
    width: 41.66%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33%;
  }

  .col-md-8 {
    width: 66.6%;
  }

  .col-md-9 {
    width: 75%
  }

  /* Chefs Table */
  .home1 picture {
    max-width: 400px;
    display: inline-block;
<<<<<<< Updated upstream
    margin-top: -12em;
=======
    margin-top: -28em;
>>>>>>> Stashed changes
    margin-left: auto;
    margin-right: -15em;
  }

  .home1 {
    text-align: center;
  }

  .ct_discover {
    margin-top: -120px;
  }

  .ct_discover h3 {
    padding-left: 10px;
  }

  .ct_define h3 {
    padding-left: 10px;
  }

  .restaurant .extrapadding {
    padding-top: 10em;
  }

  .restaurant .copy {
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
  }

  .rwd .flex {
    display: flex;
  }

  .rwd .flex .column:first-child {
    text-align: right;
  }

  .rwd .flex .column:first-child img {
    margin: 8px 0;
  }

  .rwd .flex .column:last-child {
    display: flex;
    align-items: center;
  }

  /* YKC */
  .ykchome picture {
    max-width: 400px;
    display: inline-block;
    margin-top: -28em;
    margin-left: auto;
    margin-right: -15em;
  }

  .define {
    margin-top: -220px;
  }

  .mockups {
    margin-left: 40px;
    margin-right: 40px;
  }

  .ykcstyle img {
    max-width: 40%;
  }

  /* $ave */
  .savings picture {
    max-width: 400px;
    display: inline-block;
    margin-top: -15em;
    margin-left: auto;
    margin-right: -15em;
  }

  .savings {
    text-align: center;
  }

  .s_define {
    padding-left: 10px;
    padding-right: 10px;
  }

  .s_develop picture {
    max-width: 90%;
  }

  /* About */
  [class*="col-"] {
    float: left;
    padding: 0 10px;
  }

  .button {
    max-width: 100%
  }
}

/* Large device - 1024px plus */
@media only screen and (min-width: 1024px) {
  .col-md-7 {
    width: 58.33%;
  }

  .col-md-5 {
    width: 41.66%;
  }

  .info-popup p {
    font-size: 1.125em;
  }

  .info-popup a {
    font-size: 1.125em;
  }

  /*Chefs Table*/
  .home1 picture {
    max-width: 500px;
    margin-top: -32em;
    margin-left: auto;
    margin-right: -24em;
  }

  /*YKC*/
  .ykchome picture {
    max-width: 400px;
    display: inline-block;
    margin-top: -30em;
    margin-left: auto;
    margin-right: -30em;
  }

  /* $ave */
  .savings picture {
    max-width: 400px;
    display: inline-block;
    margin-top: -16em;
    margin-left: auto;
    margin-right: -30em;
  }

  .s_define {
    margin-top: -120px;
  }
}

/* X-Large device - 1440px plus */
@media only screen and (min-width: 1400px) {
  .info-popup p {
    font-size: 1.125em;
  }

  .info-popup a {
    font-size: 1.375em;
  }

  .home1 picture {
    max-width: 500px;
    margin-top: -32em;
    margin-left: auto;
    margin-right: -30em;
  }
}
